.parent {
  display: flex;
}

.collum {
  flex-direction: column;
}

body {
  height: auto;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: left;
  align-items: top;
  display: flex;
}

.box {
  height: 30%;
  justify-content: center;
  align-items: center;
  justify-content: left;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  color: #373a3c;
  margin: 0;
}

h4 {
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
  margin-left: 5%;
}

.subtitle {
  width: 95%;
  justify-content: left;
  margin-top: 5%;
}

.subtitle .box {
  align-items: center;
  justify-content: left;
  width: 80%;
  height: 100%;
}

.subtitle .box form input {
  width: 20%;
  border-radius: 10%;
  border: 0.5px solid black;
}

form {
  justify-content: space-evenly;
  width: auto;
}

.adjust{
  position: relative;
  right: 15%;
}

button {
  background: #0275d8;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  height: 100%;
  text-align: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #ffffff;
}

#alert-row {
  width: 188px;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1%;
}

.alert.alert-danger.parent {
  padding: 0;
  font-size: x-small;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  height: 70%;
  padding-bottom: 2%;
}

h4 p {
  color: red;
  text-decoration: none;
  font-size: smaller;
}

.hide {
  display: none;
}

#error {
  color: red;
  margin-left: 5%;
  margin-top: 1.5%;
}

#spinner {
  margin-left: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 79px;
  color: #373a3c;
  margin: 0;
  width: auto;
}

.list {
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 79px;
  color: #373a3c;
  margin: 0;
}

.number {
  text-decoration: underline;
  font-weight: bolder;
}

.none {
  text-decoration: none;
  font-weight: 100;
}
