.parent {
  display: flex;
}


.collum {
  flex-direction: column;
}

body {
  height: 100vh;
  padding-left: 150px;
  padding-top: 50px;
  justify-content: left;
  align-items: top;
  display: flex;
}

.box {
  width: auto;
  height: 30%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  color: #373a3c;
  margin: 0;
}

h4 {
  font-weight: 400;
  margin: 0;
  text-decoration: underline;
  margin-left: 5%;
}

.subtitle {
  width: 95%;
  justify-content: left;
}

.subtitle .box {
  align-items: center;
  justify-content: left;
  width: 60%;
  height: 100%;
}

.subtitle .box form input {
  width: 20%;
  border-radius: 10%;
  border: 0.5px solid black;
  margin-left: 5%;
}

form {
  width: 50%;
  justify-content: space-evenly;
}

button {
  background: #0275d8;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  height: 100%;
  text-align: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  
  color: #ffffff;
}
